.sidebar {
  width: 20%;
  height: 100vh;
  background-color: var(--bg-clr);
  position: sticky;
  top: 0;
}

.sidebar > ul {
  width: 100%;
}

.sidebar > ul > li {
  margin-left: 1.5rem;
  padding: 1rem;
}

.sidebar > ul > li > a {
  color: var(--off-black);
}
