.about-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.about-image {
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
}

.about-image > img {
  height: 80%;
  display: block;
}

.about-text-area {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text {
  height: 500px;
  width: 500px;
}

.about-title {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-title > h1 {
  font-size: 3rem;
  line-height: 50px;
  font-weight: 500;
  color: var(--off-black);
}

.about-title > p > span {
  color: var(--off-black);
}

.accomplishment {
  height: 30%;
  display: flex;
}

.accomplishment > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.accomplishment > div > h2 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 80px;
  color: var(--cyan);
}

@media only screen and (max-width: 415px) {
  .about-section {
    height: 60vh;
  }
  .about-image {
    display: none;
  }
  .about-text-area {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
  }

  .about-text {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .accomplishment {
    justify-content: space-evenly;
  }

  .accomplishment > div {
    margin-right: 0;
  }
}
