.login-section {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  height: 200px;
  width: 300px;
  border: 1px solid var(--light-gray);
  color: var(--off-white);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
