.home-header {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text-area {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text {
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.header-text > h1 {
  font-size: 4rem;
  line-height: 70px;
  color: var(--gray);
}

.header-text > h1 > span {
  color: var(--off-black);
}

.header-text > p {
  font-size: 1.3rem;
  color: var(--gray);
}

.header-text > p > span {
  color: var(--off-black);
}

.header-image {
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
}

.header-image > img {
  width: 100%;
}

@media only screen and (max-width: 415px) {
  .home-header {
    flex-direction: column-reverse;
  }

  .header-text-area {
    height: 50%;
    width: 100%;
    padding: 0.5rem;
  }

  .header-text {
    height: 100%;
    width: 100%;
  }

  .header-image {
    height: 50%;
    width: 100%;
    align-items: center;
  }
}
